<app-header></app-header>

<!-- <app-swiper></app-swiper> -->

<section class="main">

  <article class="content">

    <p>ทดสอบภาษาไทย <a href="">A Link</a></p>

    <div class="select-wrap" style="max-width: 160px;">
      <select class="select-custom">
        <option>opt 1 ภาษาไทย</option>
        <option>opt 2</option>
      </select>
    </div>

    <input class="input-custom"
          style="max-width: 160px;"
          type="text"
          name="ss"
          value=""
          placeholder="test ภาษาไทย">

    <button class="button-custom">ปุ่มทดสอบ</button>

  </article>

</section>

<app-footer></app-footer>
