<app-header></app-header>

<main>

  <p>ทดสอบภาษาไทย <a href="">A Link</a></p>

  <div class="select-wrap" style="max-width: 160px;">
    <select class="select-custom">
      <option>opt 1 ภาษาไทย</option>
      <option>opt 2</option>
    </select>
  </div>

  <input class="input-custom"
        style="max-width: 160px;"
        type="text"
        name="ss"
        value=""
        placeholder="test ภาษาไทย">

  <button class="button-custom">ปุ่มทดสอบ</button>

</main>

<app-footer></app-footer>
