<!-- class="ctn-wrapper item-hot ..." -->
<!-- <div class="ctn-wrapper">

  <div class="ctn-badge">
    <span class="badge hot">hot</span>
    <span class="badge off">off 999%</span>
  </div>

  <div class="ctn-prod">
    <a [routerLink]="['/catalog/product', 101]">
      <h3 class="prod-title">Product Name ไอเทมชั้นหนึ่ง สุดร้อนแรงแห่งปี ไม่ซื้อไม่ได้แล้ว</h3>
    </a>
  </div>

  <div class="ctn-price">
    <p class="price price-total">ราคา ฿ 9,999,999</p>
    <p class="price sub-total">฿ 99,999</p>
  </div>

  <div class="ctn-image">
    <a [routerLink]="['/catalog/product', 101]">
      <img class="prod-img" src="../../../../../assets/example/example.png"/>
    </a>
  </div>

  <div class="ctn-button">
    <a [routerLink]="['/catalog/product', 101]">
      <button class="button-custom buy-it">ซื้อเลย</button>
    </a>
  </div>

</div> -->

<div
  *ngIf="productItem"
  class="ctn-wrapper {{ productItem.featured }}">

  <div
    *ngIf="productItem.badge"
    class="ctn-badge">
    <span
      *ngFor="let badge of productItem.badge"
      class="badge {{ badge.class }}">{{ badge.label }}</span>
  </div>

  <div class="ctn-prod">
    <a [routerLink]="['/catalog/product', productItem.sku]">
      <h3 class="prod-title">{{ productItem.title }}</h3>
    </a>
  </div>

  <div class="ctn-price">
    <p class="price price-total">ราคา ฿ {{ productItem.priceTotal | number }}</p>
    <p class="price sub-total">฿ {{ productItem.subTotal | number }}</p>
  </div>

  <div class="ctn-image">
    <a [routerLink]="['/catalog/product', productItem.sku]">
      <img class="prod-img" src="{{ productItem.imagePath }}"/>
    </a>
  </div>

  <div class="ctn-button">
    <a [routerLink]="['/catalog/product', productItem.sku]">
      <button class="button-custom buy-it">ซื้อเลย</button>
    </a>
  </div>

</div>
